body {
    font-family: Arial, sans-serif;
    background-color: #0093E9;
    background-image: linear-gradient(328deg, #0093E9 0%, #80D0C7 100%);
    color: #fff;
    margin: 0;
    padding: 0;
}

.audio-player {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.player-image img {
    width: 100%;
    border-radius: 10px;
}

.player-controls {
    margin-top: 20px;
}

.progress-bar-container {
    width: 100%;
    height: 5px;
    background-color: #eee;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 15px;
}

.progress-bar {
    height: 100%;
    width: 0;
    background: linear-gradient(to right, teal, white);
    animation: progress-animation 1.5s linear infinite alternate;
    animation-play-state: paused;
}

@keyframes progress-animation {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

.play-btn,
.volume-btn {
    background-color: transparent;
    border: none;
    fill: #fff;
    color: #fff;
    font-size: 20px;
    margin: 0px 10px;
}

.volume {
    margin-top: 10px;
}

.volume-slider {
    width: 100px;
    vertical-align: middle;
}

.volume-slider input[type="range"] {
    color: #fff;
}

.volume-label {
    margin-left: 5px;
    font-size: 14px;
}